*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Colors*/
:root {
  --primary1-color: #8875ff;
  --primary2-color: #6b57f1;
}
/*Body*/
body{
    background-color: black;
    color: white;
}
/*button*/
.mainBut{
    width: 80px;
    height:50px;
    margin: 10px;
    background-color: var(--primary1-color);
    border: solid var(--primary2-color);
    border-radius: 10px;
}
.noneBut,
.start,
.createBut{
    margin: 10px;
    padding: 20px;
    background:none;
    color: #FFFFFF;
    opacity: 44%;
    border: solid black;
}
.noneBut:hover,
.mainBut:hover,
.start:hover,
.loginBut:hover,
.createBut:hover{
    opacity: 100%;
    color: #FFFFFF;
}
.loginBut{
    width: 90%;
    height:50px;
    margin: 10px;
    background-color: var(--primary1-color);
    border: solid var(--primary2-color);
    border-radius: 10px;
}

/*Intro0*/
.intro0{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50%;
}
.intro0.hidde{
    display: none;
}
.intro0.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50%;
}
/*Intro1*/
.intro1{
    display: none;
}
.intro1.active{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro1.hidde{
    display: none;
}
.intro1header{
    display: flex;
    flex-direction: row;
}
.intro1main{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.intro1footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Intro2*/
.intro2{
    display: none;
}
.intro2.active{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro2.hidde{
    display: none;
}
.intro2main{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}
.intro2footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Intro3*/
.intro3{
    display: none;
}
.intro3.active{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro3.hidde{
    display: none;
}
.intro3main{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.intro3footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*wlcPage*/
.wlcPage{
    display: none;
}
.wlcPage.active{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wlcPage.hidde{
    display: none;
}
.arrowBut{
    margin: 5px;
    padding: 10px;
    background:none;
    color: #FFFFFF;
    opacity: 44%;
    border: solid black;
}
.wlcPage_Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.wlcPage_Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



